.header {
  display: grid;
  padding-left: 160px;
  padding-right: 160px;
  margin: 20px;
}
.nav {
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-columns: repeat(7, 2fr);
  grid-auto-rows: minmax(50px, auto);
}
@media (min-width: 200px) {
  .nav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}
.logo {
  width: 160px;
  height: 25px;
  padding-right: 90px;
}
.item {
  padding: 8px;
  font-family: Karla;
}

ul {
  list-style-type: none;
  font-size: 18px;
  color: #495e57;
}
