.header {
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  padding-left: 80px;
  padding-right: 80px;
  margin: 20px;
}
.nav {
  display: inline-flex;
}
.logo {
  width: 160px;
  height: 25px;
  padding-right: 90px;
}
.nav-item {
  padding: 8px;
  font-family: Karla;
}

ul {
  list-style-type: none;
}
